<?xml version="1.0"?>
<config>
    <modules>
        <Saulmoralespa_PagoFacilChile>
            <version>1.0.0</version>
        </Saulmoralespa_PagoFacilChile>
    </modules>
    <global>
        <blocks>
            <pagofacilchile>
                <class>Saulmoralespa_PagoFacilChile_Block</class>
            </pagofacilchile>
        </blocks>
        <helpers>
            <pagofacilchile>
                <class>Saulmoralespa_PagoFacilChile_Helper</class>
            </pagofacilchile>
        </helpers>
        <models>
            <pagofacilchile>
                <class>Saulmoralespa_PagoFacilChile_Model</class>
            </pagofacilchile>
        </models>
        <resources>
            <pagofacilchile_setup>
                <setup>
                    <module>Saulmoralespa_PagoFacilChile</module>
                </setup>
            </pagofacilchile_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <pagofacilchile>
                <use>standard</use>
                <args>
                    <frontName>pagofacilchile</frontName>
                    <module>Saulmoralespa_PagoFacilChile</module>
                </args>
            </pagofacilchile>
        </routers>
    </frontend>
    <default>
        <payment>
            <pagofacilchile>
                <active>0</active>
                <model>pagofacilchile/pagoFacilChile</model>
                <order_status>pending</order_status>
                <title>PST Pago fácil SPA</title>
                <test>0</test>
                <environment>0</environment>
            </pagofacilchile>
        </payment>
    </default>
</config>